* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sketch-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.footer {
  margin-top: 110px;
  text-align: center;
  padding: 15px;
  color: rgb(48, 46, 46);
  font-weight: 900;
  font-family: "Caveat Brush";
}

.choice-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px;
}

h1 {
  margin-top: 30px;
  font-size: 46px;
  font-family: "Caveat Brush";
}

.slidecontainer {
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Sedgwick Ave Display";
}

.slidecontainer .slider-info {
  border: 1px solid red;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #475752;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #953dec;
  cursor: pointer;
}
.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8628a0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

#reset {
  background-color: rgb(49, 49, 49);
}

#eraser {
  width: 50px;
}

#favcolor {
  height: auto;
  border: none;
  outline: black;
}
